body {
width: 100%;
height: 100vh;
overflow: hidden;
display: grid;
place-items: center;
background: rgb(255,255,255);
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 1.75;
}
#tip-calculator {
    width: 80%;
    max-width: 350px;
    padding: 1rem;
    background: white;
    border-radius: 0.9rem;
    }
    h1{
        background: rgb(11, 108, 161);
        color: white;
        font-size: 27px;
        text-align: center;
        margin-top: -17px;
        margin-left: -17px;
        margin-right: -17px;
        border-radius: 0.9rem;
        padding: 0.5rem;
      }

      form {
        border-top: 1px solid hsl(149, 31%, 25%);
        }
        
        label {
        display: block;
        }
        
        input[type="number"] {
        width: 100%;
        max-width: 4em;
        background: none;
        border: none;
        font-size: 20px;
        color: rgb(26, 64, 237);
        border-bottom: 1px dashed black;
        -moz-appearance: textfield;
        }
        
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        #percentage {
            -webkit-appearance: none;
            width: 100%;
            margin: 2rem 0;
            height: 10px;
            background: hsl(193, 94%, 34%);
            border-radius: 3px;
            }
            
            #percentage::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid rgb(5, 47, 156);
            background: hsl(255, 14%, 66%);
            cursor: pointer;
            }

            .h3 {
                margin: 1.38rem 0;
                font-size: 1.424rem;
                }
                
                #output {
                text-align: center;
                box-shadow: 0 0 20px rgba(0,139,253,0.25);
                padding: 10px;
                color: rgb(9, 73, 171);
                }
                #output1 {
                    text-align: center;
                    box-shadow: 0 0 20px rgba(0,139,253,0.25);
                    padding: 10px;
                    color: rgb(9, 73, 171);
                    }